:root {
  --bg-main: #efe6dd;
  --bg-second: #7ebdc2;
  --text-body: #868e96;
  /* text body is the bootsrap secondary color */
  --text-accent: #bb4430;
}

ul {
  list-style: none;
}
.App {
  text-align: center;
  background-color: var(--bg-main);
  color: var(--text-body);
  font-family: Georgia, Times, "Times New Roman", serif;
}

.alert {
  background-color: var(--text-accent);
  color: var(--text-accent);
  font-size: 32px;
  text-align: center;
}

.attributes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.att-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin: 0 auto;
  width: 80%;
  border: solid 0.2rem var(--text-accent);
  padding: 3rem;
}

.footer {
  background-color: var(--bg-second);
  width: 100%;
  height: 6rem;
  margin-top: 1rem;
  color: var(--text-accent);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;
  border-top-left-radius: 17%;
  border-top-right-radius: 17%;
  border: 0.3rem solid var(--text-accent);
  padding: 2rem;
}

.gift-list {
  display: flex;
  align-self: center;
  justify-self: center;
  margin-right: 1rem;
  max-width: 40%;
}

#home-gift-button,
#list-item {
  font-size: 20px;
  width: 40%;
}

.header {
  background-color: var(--bg-second);
  width: 100%;
  height: 15%;
  margin-bottom: 2rem;
  color: var(--text-accent);
  display: flex;
  justify-content: center;
  padding: 2rem;
  border: 5px solid var(--text-accent);
  border-bottom-left-radius: 17%;
  border-bottom-right-radius: 17%;
}

.header-words {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 40%;
}

.homepage,
.suggested-page,
.list {
  width: 100%;
  color: var(--text-body);
  /* height: 50rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: aqua;

  background-color: var(--bg-main);
  width: 100%;
  min-height: 40rem;
}

.home-list {
  padding: 3rem;
}

.list {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gift-list {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  padding: 2rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  width: 50rem;
}

.name-input {
  width: 70%;
  display: flex;
  justify-content: center;
  margin: 2rem;
  margin-left: 15%;
  font-size: 35px;
}
.name {
  display: flex;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
}

.nav-container {
  border: solid 0.2rem var(--text-accent);
  height: 3rem;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.results {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.suggest-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.gift-details {
  font-size: 20px;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.crud {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}

#crud-id {
  margin: 1rem;
  font-size: 20px;
}

.link {
  color: var(--bg-main);
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  font-size: 18px;
}

.link:hover {
  color: var(--text-accent);
  text-decoration: none;
  /* background-color: var(--text-accent); */
}

.loader {
  position: absolute;
  margin-left: 35%;
}

.view-details {
  height: 60%;
}

#att-button {
  font-size: 30px;
  width: 15rem;
}

#gift-header {
  font-size: 50px;
}
#gift-subheader {
  font-size: 35px;
}

#gift-description,
#gift-link {
  font-size: 30px;
}

#gift-shop {
  display: flex;
  align-items: center;
}

#gift-image {
  width: 12rem;
}

#form-entry {
  width: 40rem;
}

#gift {
  width: 300%;
}
#gift-button {
  width: 300%;
}

#title {
  font-size: 90px;
  width: 80%;
  font-family: cursive;
}

#list-title {
  font-size: 40px;
}

#select-menu {
  color: var(--text-body);
}

#subtitle {
  font-size: 35px;
}

#quote {
  font-size: 25px;
}
